<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:replace="~{home :: navbar}"></span>
<h1>Formulaire</h1>
    <form method="post" th:action="@{/student}" th:object="${student}">
        <div>
            <label for="lastName">Nom  :</label>
            <input type="text" th:field="*{lastName}" id="lastName"/>
        </div>
        <div>
            <label for="firstName">prenom  :</label>
            <input type="text" th:field="*{firstName}" id="firstName"/>
        </div>
        <div>
            <label for="age">Age  :</label>
            <input type="number" th:field="*{age}" id="age"/>
        </div>
        <div>
            <label for="email">Email  :</label>
            <input type="text" th:field="*{email}" id="email"/>
        </div>

        <button type="submit">Ajouter</button>
        <button type="reset">Annuler</button>
    </form>
</body>
</html>